/* Page layout */
#page2 .secondary-title {
  font-size: 32px;
  text-align: center;
  text-decoration: underline;
  margin-bottom: -15px;
}

.primary-title,
#page2 .primary-title
  {
  font-size: 54px;
}


.icon-rounded {
  
  padding: 20px;
  margin-top: 60px;
  border-radius: 50%;
  background-color: rgb(38, 80, 218, 10%);
}

/* Skill bar 
.bar{
  width: 100%;
  background-color: #ddd; 
}

.skills {
  text-align: right; 
  padding-top: 10px; 
  padding-bottom: 10px;
  color: white;
}
*/


/* Width utility classes */
.w-50{
  width: 50%;
}
.w-60{
  width: 60%;
}
.w-70{
  width: 70%;
}
.w-80{
  width: 80%;
}
.w-90{
  width: 90%;
}

/* Background colours */
.bg-red{
  background: red;
}
.bg-blue{
  background: blue;
}
.bg-green{
  background: green;
}




.video-gif {
  margin: 20px;
}

h1 {
  text-align: center;
}

.nav-level {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 7%;
  
}

.level-container {
  background-color: rgb(177, 177, 226);
  width: 80%;
  border-radius: 5px;
}

.skill-container{
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  color: white;
}

.css-class {
  width: 50%;
  background-color: rgba(41, 172, 41, 0.808);
}

.javascript-class {
  width: 20%;
  background-color: rgba(41, 172, 41, 0.808);
}

.html-class {
  width: 45%;
  background-color: rgba(41, 172, 41, 0.808);
}

.photoshop-class {
  width: 50%;
  background-color: rgba(41, 172, 41, 0.808);
}