@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

body {
  color: white;
  font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;    
}



li, a {
   font-weight: 500;
   font-size: 18px;
   text-decoration: none;
}


.icon-image {
  cursor: pointer;
  width: 80%;
  padding: 10px;
}

 header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
 }

.primary-nav {
  list-style: none;
}

.primary-nav li {
   display: inline-flex;
   padding: 10px;
 }
 

 .primary-nav li a {
   transition: all 0.8s ease 0s;
  
   color: rgb(19, 77, 185);
  
 } 
 
 .primary-nav li :hover {
   color: rgb(14, 185, 91);
 }

/* About me */

.primary-header {
  color: black;
  margin-bottom: 40px;
}

#page2 .primary-title {
  font-size:54px;
  
}

#page2 .primary-header {
    text-align: left;
    
}

#page2 .row {
  display: flex;
  max-width: 90%;
  margin: auto;
}

#page2 .column {
  flex: 2;
  padding-right: 8%;
  color: black;
  font-size: 20px;
  margin-top: -4%;
  
}

#page3 .primary-header {
    text-align: center;
}

#page3 .video-gif {
    display: block;
    
}

#page4 .primary-header {
    text-align: center;
}

#page4 .no-contact {
    color: black;
    font-size: 40px;
    padding-left: 5px;
}


/* Banner */

.title {
  position: relative;
  text-align: center;
  padding-bottom: 10%;
  background-position: cover;
  background:url(../img/default-social-3-b0dfab051089b234a4ec6b009154a1f5.png) no-repeat center / cover;
  background-size: 120%;
  margin-top: -10px;
  
} 

.about-me {
  padding-top: 200px;
  letter-spacing: 2px;
  max-height: 100%
}

.container {
  padding: 10px;
  margin-top: -20px;
 
}



/* Footer */

footer {
  text-align: center;
  color: black;
  width: 100%;
}


#main-footer a {
  color: rgba(9, 2, 66, 0.822);
}


footer {
  background-color: rgba(22, 33, 61, 60%);
  display: flex;
  justify-content: space-between;
  align-items: center;

} 

.copy-right {
  padding: 10px;
  color: white;
}

.list li {
  padding: 3px;
  padding-right: 10px;
   display: inline-flex;

} 
  

.list ul li a {
  text-decoration: none;
}




    .primary-title {
      font-size: 16px;
      padding-left: 10px;
  
    }


    .secondary-title {
      
      padding-left: 10px;
      color: rgba(22, 33, 61, 0.904);
  
    }

    

    .profile-picture {
    border-radius: 50%;
    border-color: rgb(15, 231, 15);
    border-style: outset;
    position: absolute;
    top:  -100px;
    max-width: 100%;
    left: 50%;
    margin-left: -100px;
}

/* Small device */

@media (min-width: 300px) {
    header,
    .primary-nav {
      display: flex;
    }

  @media (min-width: 500px) {
    .primary-title
     {
      font-size: 20px;
    }

    .front-developer {
      font-size: 14px;
    }
    
  }

  


  /* Tablet */

  @media (min-width: 768px) {
    .primary-title
 {
      font-size: 32px;
    }
  }

  .front-developer {
      font-size: 20px;
    }
    

  /* Small desktop */

  @media (min-width: 900px) {
    .primary-title
    {
      font-size: 48px;
    }

    .front-developer {
      font-size: 32px;
    }

  }



  @media (min-width: 1200px) {
    .primary-title {
      font-size: 54px;
    }
  }

  /* navigation mobile layout */

  

    .about-me {
      padding-top: 120px;
    }

    header {
      flex-direction: column;
      align-items: center;
    }

    .icon-image {
      width: auto;
    margin-bottom: -60px;
    margin-top: -50px;
    }

    .primary-nav {  
    padding-bottom: 100px;
    }

  }

  @media (min-width: 830px) {
      header {
        flex-direction: inherit;
      }

      .icon-image {
      width: auto;
      margin-bottom: auto;
      margin-top: auto;}

      .primary-nav {
        padding-bottom: 0px;
      }
    }

    @media (min-width: 300px) {
      .list {
        display: flex;
        paddin-
      }

    }
    













