@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

body {
  color: white;
  font-family: 'Roboto', sans-serif;
}




* {
    box-sizing: border-box;
}

/* navigation */

.primary-nav {
  background-color: ;
  margin-top: 50px;
  float: right;
  
}

.primary-nav ul li {
  display: inline;
  padding: 10px;
  padding-right: 20px;

}

.primary-nav ul li a {
  color: black;
  text-align: right;
  text-decoration: none;
  font-size: 20px;
}



/* About me */

.primary-header {
  max-width: 90%;
  margin-left: 5%;
 
  
  color: rgb(59, 34, 34);
  font-size: 45px;
 
  
}

#page2 .primary-header {
    text-align: center;
}

#page3 .primary-header {
    text-align: center;
}

#page3 .video-gif {
    display: block;
    
}

#page4 .primary-header {
    text-align: center;
}

#page4 .no-contact {
    color: black;
    font-size: 40px;
    padding-left: 5px;
}


/* Banner */

.title {
  position: relative;
  text-align: center;
  padding-bottom: 15%;
  text-transform: capitalize;
  font-size: 35px;
  background-position: cover;
  background: linear-gradient(#060f61, transparent 100%),
    grey url(../img/background.jpg) no-repeat center / cover;

}




.about-me {
  padding-top: 300px;
  letter-spacing: 2px;
  max-height: 100%;

}

/* Footer */

footer {
  text-align: center;
  color: black;
}

#main-footer a {
  color: rgba(9, 2, 66, 0.822);
}

.list {
  text-align: center;
  background-color: lightgray;
}


.list ul li {
  display: inline;
  padding: 20px;
}


.list :hover {
  color: lightsalmon;
}

.row {
  display: flex;
  max-width: 90%;
  margin: auto;
}

.column {
  flex: 2;
  padding-right: 8%;
  color: black;
  font-size: 20px;
  margin-top: -4%;
  
}

.icon-image{
    width: 15%;
    margin-left: 1%;
    margin-top: 1%;
    
}

/* Media Queries */

/* 
@media (max-width: 400px) {
    .primary-nav {
        float: right;
        margin-top: 15px;
        padding-right: 10px;


    }   
}

@media (max-width: 400px) {
    .primary-nav ul li {
    display: inline;
    margin-top: 2px;
    padding: 5px;
    
  
  }


@media (max-width: 400px) {
    .primary-nav ul li a {
    color: black;
    text-align: right;
    text-decoration: none;
    font-size: 14px;
  }

@media (max-width: 400px) {
    .about-me {
        padding: 10px;
    }
}

@media (max-width: 400px) {
    .row {
        display: block;
        margin-top: 20px;
         
    }
}

@media (max-width: 400px) {
    .icon-image {
        margin-top: 15px;
    }
}
*/

/* Mobile layout */

    .primary-title {
      font-size: 16px;
    }

    .profile-picture {
    border-radius: 50%;
    border-color: rgb(15, 231, 15);
    border-style: outset;
    position: absolute;
    top:  -100px;
    /* width: 100px; */
    display: block;
    height: auto;
    max-width: 100%;
    left: 50%;
    margin-left: -100px;
}

/* Small device */

  @media (min-width: 540px) {
    .primary-title {
      font-size: 24px;
    }
  }

  /* Tablet */

  @media (min-width: 768px) {
    .primary-title {
      font-size: 32px;
    }
  }

  /* Small desktop */

  @media (min-width: 900px) {
    .primary-title {
      font-size: 48px;
    }
  }

  @media (min-width: 900px) {
    .primary-title {
      font-size: 48px;
    }
  }

  @media (min-width: 1200px) {
    .primary-title {
      font-size: 60px;
    }
  }











