body {
  color: white;
}

/* h1 {
  font-size: 50px;
  color: rgb(48, 36, 36);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body span {
  color: black;
  font-size: 26px;
}



.primary-content {
  text-align: center;
}



.primary-header {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: firebrick;
  font-size: 30px;
  padding: 12px;
}

.container {
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  padding: 5px 20px;
  background-color: blue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

ul li {
  justify-content: space-between;
  list-style-type: none;
  margin-left: 15px;
}

.header-container {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  color: grey;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

header {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  color: black;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Class selector */

/* .social-icon {
  text-align: center;
}

.back-top {
  color: #2c3e50;
}

.back-top:hover { 
  color: black;
}  */



* {
    box-sizing: border-box;
}

/* navigation */

.primary-nav {
  background-color: ;
  margin-top: 50px;
  float: right;
  
}

.primary-nav ul li {
  display: inline;
  padding: 10px;
  padding-right: 20px;

}

.primary-nav ul li a {
  color: black;
  text-align: right;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
  font-size: 20px;
}



/* About me */

.primary-header {
  max-width: 90%;
  margin-left: 5%;
 
  
  color: rgb(59, 34, 34);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 45px;
 
  
}

#page2 .primary-header {
    text-align: center;
}

#page3 .primary-header {
    text-align: center;
}

#page3 .video-gif {
    display: block;
    
}

#page4 .primary-header {
    text-align: center;
}

#page4 .no-contact {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 40px;
    padding-left: 5px;
}


/* Banner */

.title {
  text-align: center;
  padding-bottom: 15%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: capitalize;
  font-size: 35px;
  background-position: cover;
  background: linear-gradient(#060f61, transparent 100%),
    grey url(../img/background.jpg) no-repeat center / cover;
  
}

.profile-picture {
    border-radius: 50%;
    border-color: rgb(15, 231, 15);
    border-style: outset;
    position: absolute;
    top:  100px;
    width: 20%;
    display: block;
    margin-left: 40%;
    height: auto;
    max-width: 100%;
}


.about-me {
  padding-top: 300px;
  letter-spacing: 2px;
  max-height: 100%;

}

/* Footer */

footer {
  text-align: center;
  color: black;
}

#main-footer a {
  color: rgba(9, 2, 66, 0.822);
}

.list {
  text-align: center;
  background-color: lightgray;
}


.list ul li {
  display: inline;
  padding: 20px;
}


.list :hover {
  color: lightsalmon;
}

.row {
  display: flex;
  max-width: 90%;
  margin: auto;
}

.column {
  flex: 2;
  padding-right: 8%;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  margin-top: -4%;
  
}

.icon-image{
    width: 15%;
    margin-left: 1%;
    margin-top: 1%;
    
}

/* Media Queries */

@media (max-width: 400px) {
    .primary-nav {
        float: right;
        margin-top: 15px;
        padding-right: 10px;


    }   
}

@media (max-width: 400px) {
    .primary-nav ul li {
    display: inline;
    margin-top: 2px;
    padding: 5px;
    
  
  }


@media (max-width: 400px) {
    .primary-nav ul li a {
    color: black;
    text-align: right;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-decoration: none;
    font-size: 14px;
  }

@media (max-width: 400px) {
    .about-me {
        padding: 10px;
    }
}

@media (max-width: 400px) {
    .row {
        display: block;
        margin-top: 20px;
         
    }
}

@media (max-width: 400px) {
    .icon-image {
        margin-top: 15px;
    }
}













